<section id="about">
  <div class="container about_bg">
    <div class="row" id="roww">
      <div class="col-lg-7 col-md-6">
        <div class="about_content">
          <h2>{{work.name}}</h2>
          <h3>{{work.info}}</h3>
          <p>{{work.about}}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-lg-offset-1">
        <div class="about_banner">
          <img id="imgg" src="{{url + work.image.url}}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
